.sidebar-menu {
    padding: 30px 0 30px 25px;

    display: grid;
    row-gap: 30px;

    align-self: flex-start;

    &__list-item {
        display: grid;
        grid-template-columns: 30px 1fr;
        column-gap: 15px;
        align-items: center;

        font-size: 14px;

        &:hover {
            .sidebar-menu__list-item--link-text {
                font-weight: bold;
            }
        }

        &--link-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            font-weight: 500;

            margin-bottom: 0;
        }

        &--icon {
            width: 100%;
            height: 100%;
        }

        &--link-title,
        &--link-meta-data {
            margin-bottom: 0;
        }

        &--link-meta-data {
            position: relative;

            margin-left: 12px;
            font-size: 12px;

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: -12px;

                width: 7px;
                height: 7px;

                border-radius: 50%;
                background: currentColor;
            }
        }
    }

    &__business-details {
        font-size: 14px;

        &--initials {
            font-size: 20px;
            font-weight: bold;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;

            background: $primary-white;
            border: 0.1px solid $dark-grey-7;
            border-radius: 10px;

            box-shadow: 0 4px 5px #a1a4a9;

            text-transform: uppercase;

            margin-bottom: 0;
        }

        &--name {
            margin-bottom: 0;
            text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
        }
    }

    &__module {
        font-size: 18px;

        padding: 0 0 0 18px;
    }

    &__module-header {
        display: flex;
        align-items: center;

        height: 60px;

        border-bottom: 1px solid #e6eaee;

        margin-left: -25px;
        margin-right: -15px;

        padding-left: 31px;
        padding-right: 15px;

        background-color: $off-white;

        &--logo {
            height: 35px;

            margin-right: 10px;
        }

        &--module-name {
            margin-bottom: 0;

            margin-right: auto;
        }

        &--collapse-icon {
            padding-right: 15px;
        }
    }

    &__module-link {
        display: grid;
        grid-template-columns: 20px minmax(0, 1fr);
        grid-template-rows: 42px;

        align-items: center;
        column-gap: 18.96px;

        margin: 0;
        padding: 0 10px 0 10px;

        color: $dark-grey-1;

        font-size: 14px;

        &--text {
            margin-bottom: 0;
        }

        &--icon {
            min-width: 25px;
            min-height: 25px;
        }

        &:hover {
            background: rgba(27, 139, 200, 0.09);
            color: #0d7494;

            border-radius: 10px 0px 0px 10px;
        }

        &--homepage {
            background: $color-orange-4;
        }
    }

    &__module-link-active {
        background: rgba(27, 139, 200, 0.09);
        color: #0d7494;

        border-radius: 10px 0px 0px 10px;
    }
}
