.dashboard-table-header {
    background: #dfdfdf;
    box-shadow: $input-box-shadow;
    border-radius: 4px;
    padding: 1rem;
    color: $primary-color;
    font-size: 14px;
    margin: 1.5rem 0;
    padding: 1rem;
}
