.top-section {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;

    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 34px;
        border: 1px solid $primary-color;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 13px;
        margin-bottom: 16px;
        padding: 9.5px;
        width: 30%;
        @include media-breakpoint-between(sm, lg) {
            width: 40%;
        }
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
        &--icon {
            color: $dark-grey-1;
            width: 12px !important;
            height: 12px !important;
        }
        &--container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
        }
    }
    &__add-module-entity-btn-mobile {
        display: none;
        @include media-breakpoint-down(xs) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0;
        }
        &--text {
            color: $primary-color;
            font-size: 14px;
            cursor: pointer;
        }
    }

    &__add-module-entity-btn {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
}

.search-input {
    display: flex;
    align-items: center;
    border: none;
    > .form-control {
        &::placeholder {
            font-size: 14px;
        }
    }
}

.add-module-entity-btn {
    background-color: $primary-color;
    color: $primary-white;
    border-radius: 4px;
    height: 34px;
    width: 145px;
    &:active,
    &:focus {
        background-color: $primary-color;
        color: $primary-white;
    }
}
