.periodic-tab {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    margin-left: 15px;
    color: #66788a;
    :first-child {
        margin-left: 0;
    }

    > * {
        cursor: pointer;
        margin-left: 32px;
        padding-bottom: 3px;
    }

    > .active {
        border-bottom: 4px solid $primary-color;
        border-radius: 4px;
        color: $primary-color;
    }

    @include media-breakpoint-down(sm) {
        margin: 0;
    }
}
