.success-page {
    background: #fafafa;
    text-align: center;
    margin: 0 auto;

    &__icon-container {
        height: 254px;
    }

    &__icon {
        margin-top: 50px;
    }

    &__text {
        font-size: 16px;
        margin: 20px auto 0 auto;
        width: 171px;
        @include media-breakpoint-up(md) {
            width: 284px;
            margin-bottom: 50px;
        }
    }

    &__btn {
        font-size: 14px;
        margin: 20px auto;
        @include media-breakpoint-up(md) {
            margin-left: 0;
            margin-right: 0;
        }
        &--white {
            @include white-button;
            color: $dark-grey-1;
            &:first-child {
                margin-top: 50px;
                @include media-breakpoint-up(md) {
                    margin-top: 20px;
                }
            }
        }
    }

    &__buttons-container {
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    &__secondary-container {
        max-width: 550px;
        margin: auto;
    }
}
