.add-expense-details {
    &__select-label {
        margin: 0;
    }
    &__checkbox-label {
        margin: 0 0 0 5px;
        font-size: 14px;
        line-height: 14px;
        color: $primary-black;
    }
    &__item-cost-text,
    &__item-payment-text {
        margin: 0;
    }
    &__item-paid-text {
        color: #7c7c7c;
    }
    &__item-paid-amount-text {
        margin-left: 5px;
    }
    &__bank-text {
        margin-left: 5px;
        font-style: italic;
        color: #7c7c7c;
    }
    &__item-owner-section {
        display: flex;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 13px;
    }
    &__item-owner-text {
        font-size: 14px;
        margin: 0 0 0 9.95px;
    }
    &__transaction-date-input {
        width: 100%;
    }
    &__transaction-date-input-container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    &__browse-btn {
        width: 48px;
        height: 18px;
        // padding: 9px 24px ;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 9px;
        box-shadow: 0px 1px 15px rgba(145, 144, 144, 0.15);
        border: 0.7px solid $primary-color !important; 

        font-size: 10px !important;
        color: #7c7c7c;
    }
    &__notes-input-container {
        margin-bottom: 34px;
    }
    &__notes-input {
        width: 100%;
        height: 68px;
        border: 1px solid #c4c4c4;
    }
    &__save-and-add-new-item {
        @include button-with-embedded-svg;
    }
    &__btn {
        width: 145px;
        height: 34px;
        background: $primary-color;
        border-radius: 4px;
        color: $primary-white;
        margin: 50px auto 20px auto;
    }
    &__submit-btn {
        width: 145px;
        height: 34px;
        background: $primary-color;
        border-radius: 4px;
        color: $primary-white;
        margin: 10px auto 20px auto;
    }

    &__save-and-add-more {
        display: flex;
        max-width: 190px;
        margin-top: 34px;
        &--icon {
            width: 24px;
            height: 24px;
        }

        &--text {
            color: $primary-color;
            font-size: 14px;
            margin-left: 10px;
        }
    }

    &__quantity-received > div > .input-container + .error__container {
        display: none;
    }
}
