.no-resource {
    margin-top: 2rem;
    &__button {
        @include button;
        width: 32rem;
        height: 5.6rem;
        margin: 2rem auto;
        font-size: 2rem;
    }

    &__illustration {
        width: 30rem;
    }

    &__text {
        margin: 2rem 0 1rem;
    }
}

.expense-list {
    min-height: 84rem;
}
