.expense-item {
    background: $primary-white;
    box-shadow: $input-box-shadow;
    border-radius: 0.625rem;
    padding: 0.5rem 1rem;
    font-size: 14px;
    margin-bottom: 1rem;
    &__status {
        width: 7.625rem;
        border-radius: 0.1875rem;
    }
}

.amount.completed {
    color: $success-dark;
}

.amount.paid {
    color: $primary-color;
}

.amount.pending {
    color: $dark-error;
}

.dashboard-actions {
   @include dropdown-actions;

    &__anchor {
        @include dropdown-anchor;
    }

    &__action {
        @include dropdown-action;
    }
}
