.loan-form {
    &__input {
        padding: 0;
    }

    &__split {
        &--left {
            padding: 0;
            margin-right: 10px;
        }
        &--right {
            padding: 0;
            margin-left: 10px;
        }
    }

    &__check-box {
        margin-top: 10px;
        &--label {
            margin-left: 5px;
            font-size: 14px;
            line-height: 17px;
            color: $primary-black;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 25px 0;
    }
}
