.loan-details-cards {
    &__desktop-view {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    &__left {
        width: 47%;
        background: $primary-white;
        border: 1px solid rgba(124, 124, 124, 0.3);
        border-radius: 5px;
        padding: 17px;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        @extend .loan-details-cards__left;
        padding: 17px 40px;
        align-items: normal;
        @include media-breakpoint-down(lg) {
            padding: 17px;
        }
    }

    &__content {
        &--left {
            font-size: 14px;
            line-height: 120%;
            color: $dark-grey-1;
            @include media-breakpoint-between(sm, md) {
                font-size: 13px;
            }
        }

        &--right {
            font-size: 14px;
            line-height: 120%;
            text-align: right;
            color: $primary-black;
            @include media-breakpoint-between(sm, md) {
                font-size: 13px;
            }
            @include media-breakpoint-down(xs) {
                font-weight: bold;
            }
        }
    }

    &__mobile-view {
        display: none;
        @include media-breakpoint-down(xs) {
            background: $primary-white;
            margin: 0 -15px 20px;
            padding: 15px;
            display: flex;
            justify-content: space-between;
        }
    }
}
