.start-sales {
    @include button;
    width: 50%;
    font-size: 1.6rem;
    padding: .5rem 0;
    text-align: center;
    &:hover {
        color: $primary-white;
        text-decoration: none;
    }
}

.search-filter {
    width: 40%;
    height: 40px;
    font-size: 16px;
    padding: 0 15px;
}