.product-summary-page {
    &__card-container {
        margin-top: 15px;
        margin-bottom: 24px;
        padding-bottom: 10px;
        border-bottom: 1px solid $faint-grey;
    }
    &__cost-delivered-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }
    &__cost-text,
    &__paid-text,
    &__cash-text,
    &__notes-text {
        color: $dark-grey-1;
    }
    &__withholding-less-text {
        font-style: italic;
    }
    &__withholding-amount-text {
        margin-left: 5px;
        &--grey {
            margin-left: 5px;
            color: $dark-grey-1;
        }
    }
    &__cost-amount-text,
    &__paid-amount-text,
    &__cash-text,
    &__notes-input-text {
        margin-left: 5px;
    }
    &__delivered-text {
        font-size: 12px;
        color: $primary-green;
    }
    &__cash-text {
        font-style: italic;
    }
    &__paid-balance-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }
    &__balance-amount-text {
        margin-left: 5px;
        color: $primary-red;
    }
    &__icons-container {
        margin-top: 14px;
    }
    &__icons-container,
    &__edit-delete-icons-container,
    &__edit-icon-container,
    &__delete-icon-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
    }
    &__delete-icon-container {
        margin-left: 31px;
    }
    &__edit-text,
    &__delete-text,
    &__mark-delivery-text {
        margin-left: 5px;
    }
    &__add-new-item-btn {
        @include circular-plus-add-entity;
        font-size: 14px;
        margin-bottom: 33px;
        max-width: 201px;
        background-color: $off-white;
        margin: 20px 0 10px;
        & svg {
            margin-right: 10px;
            width: 20px;
        }
    }
    &__total-balance-section {
        font-size: 16px;
        color: #282828;
        background-color: $light-blue-3;
        padding: 10px 13px;
        margin-bottom: 50px;
    }
    &__total-section,
    &__amount-paid-section,
    &__balance-section {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 16px;
    }

    &__total-estimate-section {
        font-size: 16px;
        font-weight: 600;
    }

    &__balance-section {
        font-weight: 600;
    }
    &__submit-btn {
        @include primary-button;
        margin: 50px 20px 0;
    }
    &__view-summary-btn {
        @include white-button;
        margin: 50px 20px 0;
    }
    &__table-header {
        background: $primary-gradient-background;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        padding: 10px 15px 10px 4px;
        font-size: 14px;
        align-items: center;
        border-radius: 4px;
        color: $primary-white;
        height: 34px;
    }
    &__table-body {
        background: $primary-white;
        font-size: 14px;
        border-radius: 4px;
        display: flex;
        align-items: flex-start;
        margin-top: 8px;
        padding: 7px 15px 7px 4px;
        border: 1px solid $primary-color;
        box-shadow: 0px 1px 15px rgba(145, 144, 144, 0.15);
    }
}
