.sales-dashboard {

    &__content {
        width: 926px;
        margin: 20px auto;

        @include media-breakpoint-down(lg) {
            width: 677px;
        }

        @include media-breakpoint-down(md) {
            width: 535px;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
            margin: 0;
        }
    }

    &__header-section {
        display: none;
        @include media-breakpoint-down(lg) {
            display: inline;
            background-color: $light-blue-9;
            padding: 10px 8px;
            width: 100%;
            border-radius: 5px 5px 0 0;
        }
    }
    &__header-text {
        font-size: 18px;
        padding: 0 13px;
        color: $color-black-3;
        text-align: center;
    }

    &__cards {
        display: grid;
        row-gap: 20px;
        margin-bottom: 30px;

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 15px;
        }

        &--sales {
            background: #f7fdff !important;
        }

        &--orders {
            background: #fffdfc !important;
        }
        &--inflow {
            background: #fafffa !important;
        }
    }

    &__transactions {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #4f4f4f;

        &--export {
            font-weight: 500;
            font-size: 12.2353px;
            line-height: 15px;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }

    &__mid-section {
        margin-top: 14px;
        display: flex;
    }
}
