.add-product-to-desktop-estimate {
    &__table-header {
        height: 34px;
        background: rgba(167, 214, 231, 0.5);       
        border-radius: 4px 4px 0px 0px;
        display: flex;
        padding: 9px 17px 9px 17px;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        border-radius: 4px;
    }
}