.customer-alert {
    height: 29px;
    width: 100%;
    background: rgba(255, 204, 102, 0.09);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__message {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
        color: #4f4f4f;

        &--action {
            font-size: 14px;
            line-height: 17px;
            color: $primary-color;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
