.tax-total {
    background: #ffffff;

    @include media-breakpoint-down(sm) {
        
    }

    &__total {
        &--net {
            background: $light-blue-10;
            color: #4f4f4f;
            font-size: 16px;
            font-weight: bold;
            line-height: 17px;
            margin: 10px 0 6px;
            padding: 9px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;

            @include media-breakpoint-down(sm) {
                margin: 0;
                background-color: $primary-white;
                padding: 15px;
                box-shadow: 0px 5.50551px 22.022px rgba(53, 55, 81, 0.06);
            }
        }

        &--sub {
            @extend .tax-total__total--net;
            font-size: 14px;
            border-radius: unset;
            @include media-breakpoint-down(sm) {
                background: $primary-white;
                padding: 0 15px;
                box-shadow: unset;
            }
        }
    }

    &__total-excl-vat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        margin: 13px 0 10px;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 15px;

        &--input {
            display: flex;
            align-items: center;
        }

        &--label {
            font-size: 14px;
            line-height: 17px;
            margin: 5px 0 5px 5px;
            color: #4f4f4f;
        }

        &--amount {
            font-size: 14px;
            line-height: 17px;
            color: #878787;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        margin: 13px 0 10px;

        @include media-breakpoint-down(sm) {
            margin: 15px 0 0;
        }

        &--top-space {
            border-top: 1px solid #dddddd;
            padding-top: 15px;
        }

        &--input {
            display: flex;
            align-items: center;
        }

        &--label {
            font-size: 14px;
            line-height: 17px;
            margin: 5px 0 5px 5px;
            color: #4f4f4f;
            cursor: pointer;
        }

        &--amount {
            font-size: 14px;
            line-height: 17px;
            color: #878787;
        }
    }

    &__no-customer {
        height: 30px;
        background: rgba(255, 204, 102, 0.15);
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 120%;
        color: #878787;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}
