.change-password-success-mp {
    &__heading-container {
        max-width: 290px;
        margin: 0 auto;
        text-align: center;
    }
    &__clap-icon {
        margin-bottom: 30px;
    }
    &__heading {
        &--primary {
            font-weight: 500;
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 10px;
            color: $primary-black;
        }
    }
    &__button-container {
        @include user-settings-button-container;
    }
}