.mobile-menu {
    margin: 40px 15px 10px;
    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__button {
        background: $off-white;
        color: $primary-color-1;
        padding: 0 15px;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 1px 2px rgba(177, 177, 177, 0.25), 0px 1px 4px rgba(0, 0, 0, 0.05);
        &:focus {
            background: $primary-white;
            color: $primary-color-1;
        }
    }
}
