.password-reset-success-page {
    padding: 20px 15px;
    @include media-breakpoint-up(md) {
        text-align: center;
    }
    &__logo-container {
        @include forgot-password-logo-container;
    }
    &__medium-plus-container {
        @include forgot-password-medium-plus-container;
    }
    &__medium-plus-inner-container {
        @include forgot-password-medium-plus-inner-container;
    }
    &__center-items {
        @include media-breakpoint-down(sm) {
            text-align: center;
            max-width: 248px;
            margin: 0 auto;
        }
    }
    &__logo {
        margin: 100px 0 20px 0;
    }
    &__heading {
        &--primary {
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            color: $primary-color-1;
            @include media-breakpoint-up(md) {
                font-size: 28px;
                margin: 20px 0 0 10px;
            }
        }
    }
    &__info-text {
        font-size: 16px;
        color: $dark-grey-1;
        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }
    }
    &__button-container {
        display: flex;
        justify-content: center;
    }
    &__button {
        @include forgot-password-button;
    }
}