.set-password-form {
    padding: 20px 15px;
    @include media-breakpoint-up(md) {
        text-align: center;
    }
    &__logo-container {
        @include forgot-password-logo-container;
    }
    &__medium-plus-container {
        @include forgot-password-medium-plus-container;
    }
    &__medium-plus-inner-container {
        @include forgot-password-medium-plus-inner-container;
    }
    &__heading {
        &--primary {
            font-size: 20px;
            font-weight: 600;
            color: $primary-color;
            margin: 80px 0 30px 0;
            @include media-breakpoint-up(md) {
                font-size: 28px;
                margin: 0 0 50px 0;
            }
        }
    }
    &__button-container {
        display: flex;
        justify-content: center;
    }
    &__button {
        @include forgot-password-button;
    }
}