.table-footer {
    border-bottom: 0.5px solid #ebedf2;
    padding: 1rem 8rem;

    background: $reports-table-footer;
    font-size: 14px;
    font-weight: bold;
    color: $primary-black;
}
