.manage-sale-mobile {
    &__customer-header-container {
        margin-bottom: 15px;
        padding-bottom: 25px;
    }
    &__tx-date {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        font-style: italic;
        color: $primary-color;
    }
    &__sales-stats {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #2e2e2e;

        &--right {
            font-weight: 600;
            font-size: 18px;
            text-align: end;
        }
    }
    &__space-bottom {
        > * {
            margin-bottom: 20px;
        }
    }
    &__actions {
        top: 288px !important;
    }
    &__update-supply-item-name {
        color: $primary-color;
        font-size: 14px;
        margin-bottom: 15px;
    }
    &__split-between {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        &--grey {
            color: $dark-grey-1;
            font-size: 12px;
        }
        &--black {
            color: $primary-black;
            font-size: 14px;
        }
    }
    &__balance-text {
        font-weight: 700;
    }
    &__button-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
    &__options-toggle-section {
        position: relative;
    }
    &__toggle-options-container {
        position: absolute;
        right: 0;
        top: -10px;
        z-index: 2;
    }
    &__toggle-option {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
    &__toggle-option-text {
        font-size: 14px;
        line-height: 17px;
        color: $primary-color;
        background-color: $primary-white;
        box-shadow: $box-shadow-2;
        border-radius: 3px;
        padding: 5px 12px;
        text-align: center;
        flex-basis: 80%;
    }
    &__toggle-option-icon {
        box-shadow: $box-shadow-2;
        background-color: $primary-white;
        border-radius: 50%;
        padding: 10px;
        flex: 1;
        margin-left: 13px;
    }
    &__options-toggle {
        position: fixed;
        top: 50%;
        transform: translateY(50%);
        right: 7px;
        z-index: 2;
    }
    &__mid-section-align-items {
        display: flex;
        align-items: center;
    }
    &__mid-section-toggle-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-grey-5;
        margin-bottom: 0;
    }
    &__mid-section-items-list {
        border-bottom: 1px solid $faint-grey;
        padding: 10px 0;
    }
    &__mid-section-item {
        font-size: 16px;
        position: relative;
        width: 33.333%;
        text-align: center;
        padding: 7px;
        &.highlight {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                background-color: $primary-color;
                width: 100%;
                height: 2px;
                left: 0;
            }
        }
    }
    &__mid-section-text {
        &--black {
            color: $primary-black;
        }
        &--blue {
            color: $primary-color;
            font-size: 12px;
        }
        &--grey {
            &::after {
                background-color: $primary-green;
            }
        }
        &--red {
            &::after {
                background-color: $notification-red;
            }
        }
        &--yellow {
            &::after {
                background-color: $primary-yellow;
            }
        }
        &--grey,
        &--yellow,
        &--red {
            color: $dark-grey-1;
            position: relative;
            &::after {
                content: '';
                width: 9px;
                height: 9px;
                border-radius: 50%;
                position: absolute;
                right: -13px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &--black,
        &--grey {
            font-size: 14px;
        }
    }
    &__supply-status-section {
        margin-top: 8px;
    }
    &__status-text {
        font-style: italic;
        font-size: 12px;
        color: $primary-color;
        margin-top: 13px;

        &--yellow,
        &--red,
        &--green {
            font-size: 14px;
            text-align: right;
        }
        &--yellow {
            color: $primary-yellow;
        }
        &--red {
            color: $notification-red;
        }
        &--green {
            color: $primary-green;
        }
    }
    &__notes-text {
        margin-top: 15px;
    }
    &__dropdown-total {
        margin-top: 15px;
        display: inline-block;
        border-top: 1px solid $faint-grey;
        border-bottom: 1px solid $faint-grey;
    }
}
