.product-transaction-table {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $primary-color;
        color: $primary-white;
        font-size: 16px;
        line-height: 17px;
        margin: 5px;
        padding-left: 15px;
        height: 34px;
    }

    &__content {
        display: flex;
        align-items: center;
        font-size: 14px;
        background-color: $primary-white;
        color: $primary-black;
        margin: 10px 5px;
        height: 45px;
        padding-left: 15px;
        &:hover {
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
            transition: all 0.3s 0.3s ease-in-out;
            cursor: pointer;
        }

        &--loader {
            text-align: center;
        }

        &--empty {
            text-align: center;
            font-size: 15px;
            padding: 15px;
            background-color: $primary-white;
            color: $primary-black;
            @include media-breakpoint-between(xs, lg) {
                border-top: 0.5px solid $faint-grey;
            }

            @include media-breakpoint-up(xl) {
                margin: 15px;
            }
        }
    }
}

.align-right {
    text-align: right;
}

.dark-grey {
    color: $dark-grey-1;
}

.icon-box {
    text-align: right;
    margin: 0;
}

.card-icon {
    cursor: pointer;
    font-size: 14px;
}

.content-text {
    font-size: 14px;
    line-height: 17px;
    &__pending {
        font-size: 14px;
        line-height: 17px;
        color: $notification-red;
    }
    &__estimate {
        font-size: 14px;
        line-height: 17px;
        color: $dark-grey-1;
    }
    &__partial {
        font-size: 14px;
        line-height: 17px;
        color: $primary-yellow;
    }
    &__completed {
        font-size: 14px;
        line-height: 17px;
        color: $success;
    }
    &__meta {
        margin: 3px 0 0;
        font-size: 12px;
        line-height: 14px;
        color: $dark-grey-8;
        &--date {
            font-size: 12px;
            margin: 3px 0 0 0;
            line-height: 14px;
        }
        &--balance {
            font-size: 12px;
            line-height: 14px;
            margin: 3px 0 0 0;
            color: $notification-red;
        }
    }
    &__m-t {
        margin-top: 40px;
    }

    &__m-r {
        margin-right: 50px !important;
    }
}

.desktop-product-transaction-table {
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.mobile-product-transaction-table {
    margin-top: 20px;
    display: none;
    @include media-breakpoint-down(lg) {
        display: block;
        margin-top: 0;
    }
}

.product-transaction-mobile-table {
    @include media-breakpoint-between(xs, lg) {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 15px;
        width: 100%;

        &__content {
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            border-bottom: 0.5px solid $faint-grey;
            background-color: $primary-white;
            color: $primary-black;
            padding: 20px 0;

            &--details {
                display: flex;
                flex-direction: column;
                line-height: 16px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}

.mobile-content {
    &__meta {
        font-size: 12px;
        line-height: 14px;
        color: $primary-color;
        margin-bottom: 0;
    }
    &__text {
        font-size: 14px;
        line-height: 17px;
        margin: 6px 0 0;
    }
    &__balance {
        font-size: 14px;
        line-height: 17px;
        margin: 6px 0 0;
        color: $notification-red;
    }
    &__pending {
        font-size: 12px;
        line-height: 14px;
        margin: 6px 0 0;
        color: $notification-red;
    }
    &__partial {
        font-size: 12px;
        line-height: 14px;
        margin: 6px 0 0;
        color: $primary-yellow;
    }
    &__completed {
        font-size: 12px;
        line-height: 14px;
        margin: 6px 0 0;
        color: $success;
    }
    &__dark-grey {
        font-size: 14px;
        line-height: 17px;
        margin: 6px 0 0;
        color: $dark-grey-1;
    }
    &__right {
        padding-top: 0;
    }
}

.table-icon {
    cursor: pointer;
    font-size: 14px;
    margin-right: 3px;
}
