.invoice-list {
    font-size: 13px;
    margin-top: 3rem;
}

.customer {
    width: 100px;
}
.status {
    margin-top: 3rem;
    &__line {
        border-bottom: 0.7px solid rgba(60, 60, 60, 0.5);
        flex-grow: 1;
    }

    &__icon {
        height: 13px;
        width: 13px;
    }
}

.no-invoice {
    &__illustration {
        margin-top: 4rem;
        width: 25%;
    }

    &__text {
        margin-top: 4rem;
    }

    & > button {
        margin-top: 2rem;
        background: $button-gradient-color;
        width: 25rem;
        height: 5rem;
        color: $primary-white;
    }
}

.dashboard-table-header {
    background: #dfdfdf;
    box-shadow: $input-box-shadow;
    border-radius: 4px;
    padding: 10px;
    color: $primary-color;
    font-size: 14px;


    &__customer {
        flex: 0 0 20%;
        max-width: 20%;
    }

    &__products {
        flex: 0 0 18%;
        max-width: 18%;
    }

}

